@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    background-color: #E5E5E5;
}

.main-header {

    
    background-color: #a5a4a4;
    // background-position: center;
    display: flex;
    // flex-direction: row;
    align-items: center;
    padding: 12px 24px;    

    .logo {

        width: 170px;
        height: 50px;
        
    }

    .navbar-nav {

        display: flex;
        gap: 24px;
        list-style: none;
        padding: 0px 20px 0px 40px;
        align-items: center;  
        // justify-content: space-between;

    }

   .nav-item{
      

    }

    .nav-link  {

        color: rgb(0, 0, 0);
        text-decoration: none;
        font-size: 18px; 

        &:hover{
            font-weight: bold;
            color: blue;
        }
             
    }

    .red-home{

        color: red !important;
    }
}

.card {

    width: 400px;
    height: 500px;
    margin-bottom: 24px;
    justify-content: center;
    // margin: 0 auto;
    background-color: transparent;
    border: none;
    transition: 0.6s;

    &:hover{

        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);;
    }

}
.container-cards {

    padding: 24px;
    
}

.card-body{

    background-color: #e9e8e8;
    border-radius: 24px 24px; 
    box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.1); 
    height: 100%;
}

.card-img, .card-img-top{

    border-radius: 10px 10px 0 0;
    border-style: none;
}

.btn{
    text-align: center;

}

    .btn-primary{

    background-color: rgb(17, 17, 17);
    border-color:transparent;
    width: 200px;

    &:hover{
        background-color: rgba(17, 17, 17, 0.8);
    }
    
    
    }

